.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(210, 241, 253);
    padding: 2rem 0;
}
.navbar img{
    height: 8rem;
    width: 24rem;
}
@media screen and (max-width:500px) {
    .navbar img{
        height: 5rem;
        width: 15rem;
    }
}